@mixin flexit {
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    box-sizing: border-box;
}

body {
    padding: 10px;
    margin: 0;
    width: 85vw;
    @include flexit;
    flex-direction: row;
    margin: auto;
    max-width: 1300px;
}

main#resume-container {
    padding: 0;
    margin: auto;
    @include flexit;
    flex-direction: row;

    section#about-bar {
        @include flexit;
        flex-direction: column;
        width: 30%;
        margin: 0 0 0 0;
        padding: 10px 5px;
        background: slategrey;
        color: ivory;
        box-shadow: 1px 1px 2px 2px black;

        #picture {
            width: 100%;
            border-radius: 50%;
            margin: auto;
            align-self: center;
            z-index: 100;

            img {
                width: 100%;
                border-radius: inherit;
                border: #000 2px solid;
                margin: auto;

            }
        }

        #about-me {
            background: rgba($color: black, $alpha: 0.35);
            padding: 5px;
            border-radius: 5px;
            width: 90%;

            h3 {
                text-align: left;
            }
        }

        #contact-me {
            list-style: none;
            padding: 5px;
            margin: 1vh 0;
            width: 90%;

            li {
                margin: 0 1vh;
                border-bottom: 1px dotted black;
                padding: 3px;
            }
        }

        #skills {
            background: rgba($color: black, $alpha: 0.35);
            padding: 5px;
            border-radius: 5px;
            width: 90%;

            li {
                text-align: left;
                padding: 3px;
            }
        }
    }

    section#experience-bar {
        @include flexit;
        flex-direction: column;
        width: 65%;
        margin: 0 0 0 1vw;
        box-shadow: 1px 1px 2px 2px black;
    }

    #title-section {
        text-align: center;
        background: slategrey;
        color: ivory;
        width: 100%;
        border-bottom: 2px solid black;

        h1 {
            font-size: 2rem;
        }
    }

    #job-history {
        background: ivory;
        border: gray 1px solid;

        h2 {
            text-align: center;
        }

        h3 {
            font-size: 1.3rem;
        }

        h4 {
            font-size: 1.2rem;
        }

        ul {
            margin-bottom: 2vh;

            li ul {

                padding: 2%;

                li {
                    padding: 3px;
                }

            }
        }
    }
}